<app-navbar></app-navbar>
        <div class="container-fluid firstCon">
                <div class="row justify-content-center">
                    <div class="conHeaderP">
                        <div class="col">
                            <p class="headerService">
                                Our Services
                            </p>
                        </div>
                        <div class="col justP">
                            <p>
                            We have a network of skilled Volunteers and members across the world who drive our vision and bring their very best to the frontiers of attaining the BBHF vision.
                            Our leadership is made up of an amazing team of passionate and dedicated individuals, who are the best at driving the BBHF vision and always providing  a dynamic, transparent, accountable and innovative leadership.
                        </p>
                        </div>
                    </div>
                </div>
        </div>
<!-- </div> -->

<div class="container-fluid secCon">
    <!-- <div class="row secConSub"> -->
        <div class="subCon">
            <div class="headerPara">
                <div class="titleVol">
                    Volunteering community <br>
                    programme </div>
                <p class="bodyVol">
                    This is a systematic community volunteering operations of the Blessed to Bless Hands Foundation (BBHF)that enables individual members of a community to volunteer with BBHF, network with other volunteers and work as a team to drive community centered services for their communities of residence, for impactful change and community development. 
                    <br><br>These Volunteers being members of their communities across Africa are able to identify needs, profer solutions and execute sustainable services/projects that meets the needs of their communities.
                </p>
            </div>
            <div class="btnCon">
                <button class="btnOne">Donate</button>
                <button class="btnTwo">Scholarship</button>
            </div>
        </div>
        <div class="containerImg">
            <img src="/assets/people.png" alt="">
        </div>
    <!-- </div> -->

</div>


<div class="container-fluid secCon">
    <div class="containerImg">
        <img src="/assets/medical.png" alt="">
    </div>
    <!-- <div class="row secConSub"> -->
        <div class="subCon">
            <div class="headerPara">
                <div class="titleVols">
                    Medical mission outreaches</div>
                <p class="bodyVol">
                    The Medical mission outreaches of the Blessed to Bless Hands Foundation (BBHF) is a community based free health services targeted at the rural communities. We screen and test for but not limited to the following; Human Immunodeficiency Virus (HIV), Hepatitis B surface Antigen( HbsAg), Hepatitis C Virus ( HCV), Diabetics Mellitus and Hypertension etc, with Status disclosure and counselling, linkage services to the nearest health centre for individuals needing treatments.
                    <br><br> Free pharmacological and non- pharmacological treatments are also offered to individual patients with diagnosed illnesses on spot, with free surgical services done as is feasible. These services are rendered by our foundation's pool of health care personnels, Volunteers, associates and funded by our sponsors in collaboration with individuals and/ or corporate organisations.
                </p>
            </div>
            <div class="btnCon">
                <button class="btnOne">Donate</button>
                <button class="btnTwo">Scholarship</button>
            </div>
        </div>
        
    <!-- </div> -->

</div>

<div class="container-fluid secCon">
   
    <!-- <div class="row secConSub"> -->
        <div class="subCon">
            <div class="headerPara">
                <div class="titleVols">
                    Evangelical outreaches</div>
                <p class="bodyVol">
                    We express a sincere desire to see souls be saved and many come to eternal life in Jesus Christ name.
                    <br><br>Therefore, in liaison with communities and local churches we carry out evangelical outreaches where we preach the goodness of Jesus Christ and calling many to eternal life. The new converts are linked up with the local churches and pastor(s) for continuity of their Christian journey.
                </p>
            </div>
            <div class="btnCon">
                <button class="btnOne">Donate</button>
                <button class="btnTwo">Scholarship</button>
            </div>
        </div>
        <div class="containerImg">
            <img src="/assets/people.png" alt="">
        </div>
    <!-- </div> -->

</div>

<div class="container-fluid secCon">
    <div class="containerImg">
        <img src="/assets/entrpre.png" alt="">
    </div>
    <!-- <div class="row secConSub"> -->
        <div class="subCon">
            <div class="headerPara">
                <div class="titleVol">
                    Entrepreneurship Trainings And <br>Youth Enpowerment</div>
                <p class="bodyVol">
                    Blessed to Bless Hands Foundation (BBHF) offers entrepreneurship trainings to individuals, especially young people who have the passion and interest to be trained in specific skill set(s), with plans to use such to deliver quality services, intended to meet the consumer demands of their communities. We go on to provide those who have completed the trainings and those who already have skills but lack the needed capital to start their businesses, startup funds thereby enabling them to live a productive life for self, families, communities, society and also enables them contribute their quota to the economies of their communities. 
                    This also helps to reduce the crime rate in such communities.
                </p>
            </div>
            <div class="btnCon">
                <button class="btnOne">Donate</button>
                <button class="btnTwo">Scholarship</button>
            </div>
        </div>
        
    <!-- </div> -->

</div>

<div class="container-fluid secCon">
    
    <!-- <div class="row secConSub"> -->
        <div class="subCon">
            <div class="headerPara">
                <div class="titleVols">
                    Education</div>
                <p class="bodyVol">
                    Lorem ipsum dolor sit amet consectetur. Mi malesuada hendrerit condimentum bibendum bibendum eget cras. Elit sem blandit neque lectus volutpat duis. Turpis tempus ridiculus quis nunc in mauris urna rhoncus. Ipsum non a sapien consectetur sit sed urna id.
                </p>
            </div>
            <div class="btnCon">
                <button class="btnOne">Donate</button>
                <button class="btnTwo">Scholarship</button>
            </div>
        </div>
        <div class="containerImg">
            <img src="/assets/education.png" alt="">
        </div>
    <!-- </div> -->

</div>

<div class="container-fluid secCon">
    <div class="containerImg">
        <img src="/assets/bobbles.png" alt="">
    </div>
   
        <div class="subCon">
            <div class="headerPara">
                <div class="titleVols">
                    Social schemes</div>
                <p class="bodyVol">
                    Lorem ipsum dolor sit amet consectetur. Egestas neque velit dictumst vulputate cras pharetra velit. Nulla interdum volutpat elementum condimentum risus nisi dapibus blandit. Congue nunc cursus vestibulum consequat integer tempus auctor cum at. Amet nam dolor eros at varius aliquet. Accumsan cras morbi rhoncus at egestas at quis turpis. Neque elit tincidunt pharetra morbi id ut ultricies in. Gravida purus tristique in dictum ornare mi. Nunc lobortis vitae id venenatis aliquam tristique eu non ultrices. Mauris commodo velit sit odio aliquet amet at tellus augue.
                </p>
            </div>
            <div class="btnCon">
                <button class="btnOne">Donate</button>
                <button class="btnTwo">Scholarship</button>
            </div>
        </div>
</div>


<div class="container-fluid conLast">
    <div class="subConLast">
        <div class="titleBody">
            <p class="tiltgetInvolved">Join us in service</p>
            <p class="bodyGetInvolved">Discover the impact you can make by participating in our services. Become a volunteer, support our medical missions, spread the message of hope through evangelical outreaches, or empower the next generation through entrepreneurship training. Together, we can create lasting change and contribute to the betterment of <br> communities.</p>
        </div>
        <div class="btnLastCon">
            <button class="btnLast">Get Involved</button>
        </div>
    </div>
</div>
