<div class="gen-con-welcome">
    <div class="welcome-title-con">
        <p class="welcome-title">Welcome to BBHF</p>
        <p class="welcome-body">At Blessed to Bless Hands Foundation (BBHF), we exist to make a profound impact on the lives of people, especially in African communities, through unwavering compassion, dedication, and service. We believe in transforming lives, one community at a time, by addressing health, social, economic, educational, communal, and spiritual needs.</p>
    </div>

</div>

<div class="container-fluid">
    <div>

    </div>
</div>

<div class="our-story-con">
    <div class="title-con-heading">
        <p class="history">
            History
        </p>
        <p class="our-story">Our story</p>
        <div class="body-our-story">
            <div class="body-our-story-first">
                <!-- <div> -->
                <p>Our story is one of inspiration and dedication—a journey deeply rooted in the belief that every act of kindness has the power to create lasting change, especially in African communities.</p> <br>

                   <p> Our story began with a profound inspiration drawn from the example set by the Macedonian Church. This ancient church, though not materially rich, was known for its unwavering commitment to giving generously to meet the needs of others. We saw this as a practical and workable approach for addressing the challenges of the 21st century, and we were inspired to act.
                    
                In response to this inspiration, we founded BBHF with a clear mission: to meet the health, social, economic, educational, communal, and spiritual needs of all people, particularly in African communities. We recognized that these needs were not isolated challenges but interconnected aspects of well-being, and we set out to transform lives, one community at a time.</p>
            <!-- </div> -->
            </div>
            <div class="body-our-story-second">
            <p>
                Our journey has been defined by unwavering dedication to service. We believe in the power of compassion and approach every endeavor with hearts full of empathy and a genuine desire to make a difference. Service is not just a word at BBHF; it's a way of life.</p> <br>

                   <p> Our belief in the power of collaboration has led us to form partnerships with individuals, corporations, and local communities. Through these alliances, we aim to maximize our impact and reach more people in need.
                    Our story is ongoing, and we invite you to be a part of it. Join us in spreading hope, transforming lives, and making the world a better place.</p>
            
            </div>
                
            
        </div>
    </div>
</div>

<div class="our-mission-con just-mission">
    <div class="heading-our-mission-con">
        <p class="our-mission-proper">Our Mission</p>
        <p class="our-mission-body">Our mission is to empower individuals and communities to lead self-sustaining and productive lives. We provide enabling opportunities, platforms, and systems for people, particularly youth, to contribute to family, community, and society sustainability and development.</p>
        
    
    </div>
    <div class="heading-our-mission-con-img">
        <img src="/assets/people-joined.png" alt="">
    </div>
</div>

<div class="our-mission-con our-visions">
    <div class="heading-our-mission-con-img">
        <img src="/assets/picture-three.png" alt="">
    </div>
    <div class="heading-our-mission-con">
        <p class="our-mission-proper">Our Vision</p>
        <p class="our-mission-body">We aim to finance genuine ministries and drive socio-ecomic transformation, especially in Africa. We believe in the power of proactive commitments, partnerships, and the ability of individuals and organizations to create lasting change.</p>
        
    
    </div>
   
</div>

<div class="our-objectives-con">
    <div class="just-our-objective-con">
        <p class="our-objective-heading">Our objectives</p>
        <p class="our-guiding-heading">Our guiding principles</p>
        <p class="our-objective-body">At Blessed to Bless Hands Foundation (BBHF), our objectives are the pillars of our mission, encompassing unity, awareness, fundraising, support for missionaries, partnerships, community enlightenment, assistance to needy youths, and the spread of God's goodness. These objectives drive our commitment to creating lasting change, especially in African communities.</p>
    </div>
    <div class="objective-icons-genCon">
        <div class="objective-icons-secCon">
        <div class="objective-icons">
            <div>
                <img src="/assets/objective-icons.png" alt="">
            </div>
            <p class="promote-unity">Promote Unity</p>
            <p class="promote-unity-body">Foster a sense of unity and camaraderie among our members, encouraging a shared commitment to our mission</p>
        </div>

        <div class="objective-icons">
            <div>
                <img src="/assets/objective-icons.png" alt="">
            </div>
            <p class="promote-unity">Raise Awareness</p>
            <p class="promote-unity-body">Increase awareness among members about the blessedness of giving into projects that serve the greater good, especially those aligned with our mission.</p>
        </div>
        <div class="objective-icons">
            <div>
                <img src="/assets/objective-icons.png" alt="">
            </div>
            <p class="promote-unity">Fund Kingdom Business</p>
            <p class="promote-unity-body">Secure funds to finance and support projects and initiatives dedicated to promoting the well-being of communities, particularly in African regions.</p>
        </div>
        
    </div>
    <div class="objective-icons-secCon">
    <div class="objective-icons">
        <div>
            <img src="/assets/objective-icons.png" alt="">
        </div>
        <p class="promote-unity">Support Missionaries</p>
        <p class="promote-unity-body"> Extend assistance to missionaries working in remote and troubled areas through financial aid and material resources.</p>
    </div>

    <div class="objective-icons">
        <div>
            <img src="/assets/objective-icons.png" alt="">
        </div>
        <p class="promote-unity">Forge Partnerships</p>
        <p class="promote-unity-body">Collaborate with organizations that share a similar vision and values, seeking opportunities for strategic partnerships that amplify our impact.</p>
    </div>
    <div class="objective-icons">
        <div>
            <img src="/assets/objective-icons.png" alt="">
        </div>
        <p class="promote-unity">Interdenominational Program</p>
        <p class="promote-unity-body">Organize an annual interdenominational program to enlighten Christians, individuals, and communities about the importance of supporting the gospel and fulfilling civic responsibilities</p>
    </div>
</div>
<div class="objective-icons-secCon">
    <div class="objective-icons">
        <div>
            <img src="/assets/objective-icons.png" alt="">
        </div>
        <p class="promote-unity">Assist Needy Students and Youths</p>
        <p class="promote-unity-body">Reach out to extremely needy Christian students and youths in society, providing educational and empowerment opportunities.</p>
    </div>

    <div class="objective-icons">
        <div>
            <img src="/assets/objective-icons.png" alt="">
        </div>
        <p class="promote-unity">Spread God's Goodness</p>
        <p class="promote-unity-body">Serve as a conduit for sharing the goodness of God with His Church globally and with people, with a particular focus on Africa.</p>
    </div>
    
</div>
</div> 

</div>

<!-- ////////////////////////////////////////////////////////// -->


<div class="leadership-structure-con">
    <div class="leadership-structure">
        <p class="leadership-structure-heading">Leadership Structure</p>
        <p class="leadership-structure-subheading">Empowering Change through Effective Governance</p>
        <p class="leadership-structure-body">Our Board of Directors and leadership team play a pivotal role in steering BBHF's mission. With a focus on effective governance and collaboration, we are dedicated to driving meaningful change in African communities.</p>
    </div>
    <div class="leadership-img">
        <img src="/assets/cheas.png" alt="">
    </div>
</div>

<div class="leadership-structure-cons">
    <div class="board-of-directors-subcon">
        <div class="board-of-directors">
           <p class="board-title">Board of Directors</p> 
           <p class="board-body" >The highest decision-making body of BBHF, responsible for strategic oversight and governance. This board includes</p>
           <div class="start-names-genCon">
           <div class="start-names-con">
            <img src="/assets/star-icon.png" alt="">
            <p class="star-board-members">Board Chairman/Chairperson</p>
           </div>
           <div class="start-names-con">
            <img src="/assets/star-icon.png" alt="">
            <p class="star-board-members">President</p>
           </div>
           <div class="start-names-con">
            <img src="/assets/star-icon.png" alt="">
            <p class="star-board-members">Secretary</p>
           </div>
           <div class="start-names-con">
            <img src="/assets/star-icon.png" alt="">
            <p class="star-board-members">Vice President</p>
           </div>
           <div class="start-names-con">
            <img src="/assets/star-icon.png" alt="">
            <p class="star-board-members">Legal Adviser</p>
           </div>
           <div class="start-names-con">
            <img src="/assets/star-icon.png" alt="">
            <p class="star-board-members">Director for Finance and Fundraising</p>
           </div>
           <div class="start-names-con">
            <img src="/assets/star-icon.png" alt="">
            <p class="star-board-members">Director for International Affairs</p>
           </div>
           <div class="start-names-con">
            <img src="/assets/star-icon.png" alt="">
            <p class="star-board-members">Director for Prayer and Outreach</p>
           </div>
           <div class="start-names-con">
            <img src="/assets/star-icon.png" alt="">
            <p class="star-board-members">Media Director</p>
           </div>
           <div class="start-names-con">
            <img src="/assets/star-icon.png" alt="">
            <p class="star-board-members">Director for Public Relations and Communications</p>
           </div>
           <div class="start-names-con">
            <img src="/assets/star-icon.png" alt="">
            <p class="star-board-members">Director for Content Creation, Innovation, and Creativity</p>
           </div>
        </div>
        </div>
        <div class="board-of-directors-sec">
            <div class="description">
                <p class="functions-title">Supervisory and Administrative Functions</p>
                <p class="functions-body">The Board Chairman/Chairperson and the President carry out supervisory and administrative functions to ensure the effective operation of the organization.</p>
            </div>

            <div class="description-sec">
                <p class="functions-title">Team Collaboration</p>
                <p class="functions-body">Board members work together as a team to coordinate activities, make contacts, and network with prospective partners and corporate organizations for partnership opportunities. This collaborative effort is essential to ensuring BBHF achieves its objectives.</p>
            </div>

            <div class="description-third">
                <p class="functions-title">Volunteer Communities Axis Coordinators</p>
                <p class="functions-body">BBHF's leadership is departmentalized to ensure high performance and effectiveness. The various BBHF Volunteers Communities Axis Coordinators play a central role in coordinating activities at the community level.</p>
            </div>
        </div>
    </div>
    
</div>



