
<app-navbar></app-navbar>
<div class="container-fluids container-common">
   <div class="containers">
  
        <div class="header">
          <p>Our Blog</p>
        </div>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur. A nibh massa congue erat sociis tincidunt enim donec arcu.
            Tincidunt sit aliquam diam sit. In fames tellus aliquet nulla neque sit rutrum. Donec tortor eu amet
            condimentum ut donec. Pharetra vitae integer condimentum elit. Est imperdiet ut ut ornare sit sagittis ut.
            Neque aliquet diam est non dictum convallis enim. Dui vivamus praesent tristique arcu non. Nunc justo
            pretium vestibulum urna nibh quam.
          </p>
        </div>
   
  </div>
  <div class="container-alt ">
 
    <p class="titleHead">Recent blog post</p>
  <div class="bodyContentCon">
    <div class="bodyContent">
      <div class="bodyContent-img">
        <img src="/assets/blog-people.png" alt="">
      </div>
        <div class="content-words">
          <p class="first-content">Olivia Rhye • 20 Jan 2022</p>
          <div class="second-content-con">
            <p class="second-content">Lorem ipsum dolor sit</p>
            <img src="/assets/arrow-up-right.png" alt="">
          </div>
          <div class="third-content-con">
            <p class="third-content">Lorem ipsum dolor sit amet consectetur. Eget neque eam rhoncus sed accumsan eu netus interdum semper.</p>
          </div>
        </div>
        
    </div>
    

<div>
<div class="bodyContentCon-two">
  <div class="bodyContentSubCon">
    <img src="/assets/photo-children.png" alt="">
    <div class="content-words-two">
      <p class="first-content-one">Phoenix Baker • 19 Jan 2022</p>
      <p class="second-content-two">Lorem ipsum dolor sit</p>
      <p class="third-content-three">Lorem ipsum dolor sit amet consectetur. Eget neque eam rhoncus sed accumsan eu netus interdum semper.</p>
    </div>
  </div>
  <div class="bodyContentSubCon">
    <img src="/assets/photo-people.png" alt="">
    <div class="content-words-two">
      <p class="first-content-one">Phoenix Baker • 19 Jan 2022</p>
      <p class="second-content-two">Lorem ipsum dolor sit</p>
      <p class="third-content-three">Lorem ipsum dolor sit amet consectetur. Eget neque eam rhoncus sed accumsan eu netus interdum semper.</p>
    </div>
  </div>
</div>
</div>
</div>
</div>

<!-- <div class=""> -->
 
  <div class="container-all-blog">
    <p class="titleHead">All blog posts</p>
    <div class="bodyContentConGen-all-blog">
  <div class="bodyContentCon-all-blog">
    <div class="bodyContent-all-blog">
      <div class="bodyContent-all-img">
        <img src="/assets/blog-people.png" alt="">
      </div>
        <div class="content-words">
          <p class="first-content">Olivia Rhye • 20 Jan 2022</p>
          <div class="second-content-con">
            <p class="second-content">Lorem ipsum dolor sit</p>
            <img src="/assets/arrow-up-right.png" alt="">
          </div>
          <div class="third-content-con">
            <p class="third-content">Lorem ipsum dolor sit amet consectetur. Eget neque eam rhoncus sed accumsan eu netus interdum semper.</p>
          </div>
        </div>
        </div>

        <div class="bodyContent-all-blog">
          <div class="bodyContent-all-img">
            <img src="/assets/blog-people.png" alt="">
          </div>
            <div class="content-words">
              <p class="first-content">Olivia Rhye • 20 Jan 2022</p>
              <div class="second-content-con">
                <p class="second-content">Lorem ipsum dolor sit</p>
                <img src="/assets/arrow-up-right.png" alt="">
              </div>
              <div class="third-content-con">
                <p class="third-content">Lorem ipsum dolor sit amet consectetur. Eget neque eam rhoncus sed accumsan eu netus interdum semper.</p>
              </div>
            </div>
            </div>
            <div class="bodyContent-all-blog">
              <div class="bodyContent-all-img">
                <img src="/assets/blog-people.png" alt="">
              </div>
                <div class="content-words">
                  <p class="first-content">Olivia Rhye • 20 Jan 2022</p>
                  <div class="second-content-con">
                    <p class="second-content">Lorem ipsum dolor sit</p>
                    <img src="/assets/arrow-up-right.png" alt="">
                  </div>
                  <div class="third-content-con">
                    <p class="third-content">Lorem ipsum dolor sit amet consectetur. Eget neque eam rhoncus sed accumsan eu netus interdum semper.</p>
                  </div>
                </div>
                </div>
              </div>
<!-- ////////////////////////////// -->
              <div class="bodyContentCon-all-blog">
                <div class="bodyContent-all-blog">
                  <div class="bodyContent-all-img">
                    <img src="/assets/blog-people.png" alt="">
                  </div>
                    <div class="content-words">
                      <p class="first-content">Olivia Rhye • 20 Jan 2022</p>
                      <div class="second-content-con">
                        <p class="second-content">Lorem ipsum dolor sit</p>
                        <img src="/assets/arrow-up-right.png" alt="">
                      </div>
                      <div class="third-content-con">
                        <p class="third-content">Lorem ipsum dolor sit amet consectetur. Eget neque eam rhoncus sed accumsan eu netus interdum semper.</p>
                      </div>
                    </div>
                    </div>
            
                    <div class="bodyContent-all-blog">
                      <div class="bodyContent-all-img">
                        <img src="/assets/blog-people.png" alt="">
                      </div>
                        <div class="content-words">
                          <p class="first-content">Olivia Rhye • 20 Jan 2022</p>
                          <div class="second-content-con">
                            <p class="second-content">Lorem ipsum dolor sit</p>
                            <img src="/assets/arrow-up-right.png" alt="">
                          </div>
                          <div class="third-content-con">
                            <p class="third-content">Lorem ipsum dolor sit amet consectetur. Eget neque eam rhoncus sed accumsan eu netus interdum semper.</p>
                          </div>
                        </div>
                        </div>
                        <div class="bodyContent-all-blog">
                          <div class="bodyContent-all-img">
                            <img src="/assets/blog-people.png" alt="">
                          </div>
                            <div class="content-words">
                              <p class="first-content">Olivia Rhye • 20 Jan 2022</p>
                              <div class="second-content-con">
                                <p class="second-content">Lorem ipsum dolor sit</p>
                                <img src="/assets/arrow-up-right.png" alt="">
                              </div>
                              <div class="third-content-con">
                                <p class="third-content">Lorem ipsum dolor sit amet consectetur. Eget neque eam rhoncus sed accumsan eu netus interdum semper.</p>
                              </div>
                            </div>
                            </div>
                          </div>
            </div>
</div>
<div class="conLast">
  <div class="subConLast">
      <div class="titleBody">
          <p class="tiltgetInvolved">Join us in service</p>
          <p class="bodyGetInvolved">Discover the impact you can make by participating in our services. Become a volunteer, support our medical missions, spread the message of hope through evangelical outreaches, or empower the next generation through entrepreneurship training. Together, we can create lasting change and contribute to the betterment of communities.</p>
      </div>
      <div class="btnLastCon">
          <button class="btnLast">Get Involved</button>
      </div>
  </div>
</div>
</div>

  