<div class="container-fluid genCon ">
<div class="container mt-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <p class="contact-heading">CONTACT US</p>
        <p class="contact-description">
          We'd love to hear from you
        </p>
       
      </div>
      <div class="imgCon ">
        <img src="assets/contact-image.png" class="img-fluid" alt="Sample Image">
    </div>
    </div>
  </div>
</div>
<!-- <div class="container-fluid genConTwo">
<div class="contactCon">
  <div class="contact-para">
  <p class="contact-title-small">CONTACT US</p>
  <P class="sub-contact-title">Chat our friendly team</P>
</div>
  <div class="loremIpsu">
    <p>Lorem ipsum dolor sit amet consectetur. Accumsan imperdiet fusce mauris in.</p>
  </div>
</div>
<div class="contact-with-icon-gen">
<div class="contact-with-icon">
    <div class="imgIcon">
        <img class="contact-imageIcon" src="assets/Featured icon.png" alt="">
      
    </div>
  
    <div class="contact-imgIcon-para">
      <p class="contact-first-para">Call us</p>
      <p class="contact-sec-para">Mon - Fri from 8am to 5pm</p>
      <p class="contact-third-para">+2348132432343</p>
    </div>
  

</div>
<div class="contact-with-icon">
    <div class="imgIcon">
      <img class="contact-imageIcon" src="assets/Featured icon.png" alt="">
    </div>
    <div class="contact-imgIcon-para">
      <p class="contact-first-para">Email</p>
      <p class="contact-sec-para">Our friendly team is hereto help</p>
      <p class="contact-third-paraEmailAd">bbhf&#64;gmail.com</p>
    </div>
</div>
</div>
</div>

 -->


 <div class="container-fluid genConTwo">
  <!-- <div class="row"> -->
      <!-- <div class="col-md-6"> -->
          <div class="contactCon">
              <div class="contact-para">
                  <p class="contact-title-small">CONTACT US</p>
                  <P class="sub-contact-title">Chat our friendly team</P>
              </div>
              <div class="loremIpsu">
                  <p>Lorem ipsum dolor sit amet consectetur. Accumsan imperdiet fusce mauris in.</p>
              </div>
          </div>
      <!-- </div> -->
  <!-- </div> -->
  
          <div class="contact-with-icon-gen">
            <!-- <div class="row"> -->
                <!-- <div class="col-md-6"> -->
              <div class="contact-with-icon">
                  <div class="imgIcon">
                      <img class="contact-imageIcon" src="assets/Featured icon.png" alt="">
                  </div>
                  <div class="contact-imgIcon-para">
                      <p class="contact-first-para">Call us</p>
                      <p class="contact-sec-para">Mon - Fri from 8am to 5pm</p>
                      <p class="contact-third-para">+2348132432343</p>
                  </div>
              </div>
          <!-- </div> -->
      <!-- </div> -->
      
          <div class="contact-with-icon">
            <!-- <div class="col-md-6"> -->
              <div class="imgIcon">
                  <img class="contact-imageIcon" src="assets/Featured icon.png" alt="">
              </div>
              <div class="contact-imgIcon-para">
                  <p class="contact-first-para">Email</p>
                  <p class="contact-sec-para">Our friendly team is here to help</p>
                  <p class="contact-third-paraEmailAd">bbhf&#64;gmail.com</p>
              </div>
          </div>
      </div>
  <!-- </div> -->
</div>

<div class="contact-con">
  <div class="contact-form">
  
    <div class="headingCon">
      <p class="heading-para-one">Contact us</p>
      <p class="heading-para-two">Our friendly team would love to hear from you.</p>
    </div>
  </div>
   
  <form [formGroup]="myForm">
    <div class="justForm">
         
        <div class="justInput">
                <div class="p-field inputPart">
                    <label for="firstName" class="inputLab">First Name</label>
                    <div class="p-inputgroup">
                    <input id="firstName" type="text" pInputText formControlName="firstName" placeholder="Enter your first name"/>
                    </div>
                    <span *ngIf="myForm.controls['firstName'].hasError('required') && myForm.controls['firstName'].touched && !submitted" class="required pull-right spanText">Please enter your first name</span>
                </div>
                <div class="p-field inputPart">
                    <label for="lastName" class="inputLab">Last Name</label>
                    <div class="p-inputgroup">
                    <input id="lastName" type="text" pInputText formControlName="lastName" placeholder="Enter your last name"/>
                    </div>
                    <span *ngIf="myForm.controls['lastName'].hasError('required') && myForm.controls['lastName'].touched && !submitted" class="required pull-right spanText">Please enter your last name</span>
                </div>
  
                <div class="p-field inputPart">
                    <label for="firstName" class="inputLab">Phone number</label>
                    <div class="p-inputgroup">
                    <input id="phoneNumber" type="text" pInputText formControlName="phoneNumber" placeholder="Enter your phone number"/>
                    </div>
                    <span *ngIf="myForm.controls['phoneNumber'].hasError('required') && myForm.controls['phoneNumber'].touched && !submitted" class="required pull-right spanText">Please enter your phone number</span>
                </div>
                
            </div>
                <div class="btn-lastword">
                    <div class="btnCon">
                            <button type="submit" pButton label="Submit">Send message</button>
                    </div>
                </div>
        </div> 
        </form>
  
  </div>