<!-- <app-navbar></app-navbar> -->

<div class="first-section">
   
    <div class="title-subcon">
        <p class="empowering-lives">Empowering Lives, Transforming Communities</p>
        <p class="empowering-lives-body">Discover a world where compassion inspires transformation, and be part of an incredible community dedicated to reshaping futures, one act of kindness at a time.</p>
        <div class="button-empowering">
        <button>Get Involved</button>
    </div>
    </div>
    <div class="empowering-img">
    <img src="/assets/people-holding-hands.png" alt="" class="empowering-img">
</div> 

</div>

<div class="gencon-difference-africa">
    <div class="subcon-difference-africa">
        <div class="subcon-ourstory">
            <p class="title-our-story">OUR STORY</p>
            <p class="subtitle-our-story">Making a Difference in Africa</p>
            <p class="ourstory-body">At Blessed to Bless Hands Foundation (BBHF), we are driven by a singular purpose: to transform lives and communities with unwavering compassion and commitment. Our mission is to empower individuals and families, especially in Africa, by providing essential services and support that address health, education, and social needs.</p>

        </div>
        <div>
        <button class="btn-learn-more">Learn More</button>
        </div>

    </div>
    <div class="red-con">
        <!-- love -->
        </div>

        <div class="mission-vision-gencon">
            <div class="mission-vision-subcon">
                <div class="mission-vision-proper">
                    <p class="mission-title">Our Mission</p>
                    <p class="mission-body">Our mission is to empower individuals and communities to lead self-sustaining and productive lives. We provide enabling opportunities, platforms, and systems for people, particularly youth, to contribute to family, community, and society sustainability and development.</p>
                </div>
                <div class="mission-vision-proper">
                    <p class="mission-title">Our Vision</p>
                    <p class="mission-body">We aim to finance genuine ministries and drive socio-economic transformation, especially in Africa. We believe in the power of proactive commitments, partnerships, and the ability of individuals and organizations to create lasting change.</p>
                </div>
            </div>
            <div class="mission-vision-img">
            <img src="/assets/picture-three.png" alt="">
        </div>

        </div>
</div>

<div class="key-programs-genCon">
    <div class="subcon-difference-africa key-program-firstCon">
        <div class="subcon-ourstory">
            <p class="title-our-story">Key programs</p>
            <p class="subtitle-our-story">Our impactful programs</p>
            <p class="ourstory-body">At BBHF, our commitment to transforming lives and communities is reflected in our key programs, each designed to address specific needs and create a lasting impact.</p>

        </div>
        <button class="btn-explore-more">Explore more projects</button>

    </div>

    <div class="key-programs-subcon">
        <div class="key-program-cards">
            <div class="key-program-img">
                <img src="/assets/sipping.png" alt="">
            </div>
            <div class="key-program-title-con">
                <div class="key-program-title-subcon">
                    <div class="title-and-arrow">
                    <p class="main-title">Volunteering community programme</p>
                    <div class="arrow-up"><img src="/assets/arrow-up-right.png" alt=""></div>
                    </div>
                    <p class="main-content">This is a systematic community volunteering operations of the Blessed to Bless Hands Foundation (BBHF)that enables individual members of a community to </p>
                    
                </div>
                <div class="progress-bar-con">
                    love
                </div>
                <div class="btn-donate-scholar-con">
                    <button class="btn-donate">Donate</button>
                    <button class="btn-scholarship">See Scholarship</button>
                </div>
            </div>
        </div>
        <div class="key-program-cards">
            <div class="key-program-img">
                <img src="/assets/sipping.png" alt="">
            </div>
            <div class="key-program-title-con">
                <div class="key-program-title-subcon">
                    <div class="title-and-arrow">
                    <p class="main-title">Volunteering community programme</p>
                    <div class="arrow-up"><img src="/assets/arrow-up-right.png" alt=""></div>
                    </div>
                    <p class="main-content">This is a systematic community volunteering operations of the Blessed to Bless Hands Foundation (BBHF)that enables individual members of a community to </p>
                    
                </div>
                <div class="progress-bar-con">
                    love
                </div>
                <div class="btn-donate-scholar-con">
                    <button class="btn-donate">Donate</button>
                    <button class="btn-scholarship">See Scholarship</button>
                </div>
            </div>
           
        </div>
        <div class="key-program-cards">
            <div class="key-program-img">
                <img src="/assets/sipping.png" alt="">
            </div>
            <div class="key-program-title-con">
                <div class="key-program-title-subcon">
                    <div class="title-and-arrow">
                    <p class="main-title">Volunteering community programme</p>
                    <div class="arrow-up"><img src="/assets/arrow-up-right.png" alt=""></div>
                    </div>
                    <p class="main-content">This is a systematic community volunteering operations of the Blessed to Bless Hands Foundation (BBHF)that enables individual members of a community to </p>
                    
                </div>
                <div class="progress-bar-con">
                    love
                </div>
                <div class="btn-donate-scholar-con">
                    <button class="btn-donate">Donate</button>
                    <button class="btn-scholarship">See Scholarship</button>
                </div>
            </div>
           
        </div>
       
    </div>
    
</div>

<div class="section-recentBlogCon">
    <div class="section-recentBlog">
        <p class="recent-blog-p">Recent blogs</p>
        <p class="our-latest-stories-p">Discover Our Latest Stories</p>
        <p class="recent-blog-body">Stay updated with our latest stories, insights, and experiences. Explore our most recent blog posts to learn more about our activities and the impact we're making in communities.</p>
        <div class="recent-btn">
        <button>View all posts</button>
        </div>
    </div>

    <div class="olivia-section">
        <div class="olivia-first">
            <div class="olivia-img">
            <img src="/assets/our-stories1.png" alt="">
            </div>
            <div class="olivia-body">
                <p class="olivia-body-date">Olivia Rhye • 20 Jan 2022</p>
                <p class="olivia-body-title">Lorem ipsum dolor sit</p>
                <p class="olivia-body-proper">Lorem ipsum dolor sit amet consectetur. Sed sem vulputate etiam sit sed. Pretium lobortis feugiat orci arcu urna. Aliquam est imperdiet venenatis venenatis venenatis fermentu...</p>
            </div>
            
        </div>
        <div class="olivia-first">
            <div class="olivia-img">
            <img src="/assets/latest-stories2.png" alt="">
            </div>
            <div class="olivia-body">
                <p class="olivia-body-date">Olivia Rhye • 20 Jan 2022</p>
                <p class="olivia-body-title">Lorem ipsum dolor sit</p>
                <p class="olivia-body-proper">Lorem ipsum dolor sit amet consectetur. Sed sem vulputate etiam sit sed. Pretium lobortis feugiat orci arcu urna. Aliquam est imperdiet venenatis venenatis venenatis fermentu...</p>
            </div>
            
        </div>
    </div>
</div>

<div class="meet-our-team">
    <div class="meet-our-teamTitleBody">
        <p class="meet-our-teamTitle">Meet our team</p>
        <p class="meet-our-teamBody">Get to know the dedicated individuals behind BBHF, making a difference through their roles.</p>
    </div>
</div>

