<!-- <div class="pagination-container">
    <pagination-controls
      (pageChange)="onPageChange($event)"
      [currentPage]="currentPage"
      [itemsPerPage]="pageSize"
      [totalItems]="totalItems"
      previousLabel="Previous"
      nextLabel="Next"
      maxSize="10"
      directionLinks="true"
      boundaryLinks="true">
    </pagination-controls>
  </div> -->
  
<!-- 
  <div class="pagination-container">
    <pagination-controls
      (pageChange)="onPageChange($event)"
      [currentPage]="currentPage"
      [itemsPerPage]="pageSize"
      [totalItems]="totalItems"
      previousLabel="Previous"
      nextLabel="Next"
      [maxSize]="10" 
      [directionLinks]="true" 
      [boundaryLinks]="true"> 
    </pagination-controls>
  </div> -->

  <!-- <div class="pagination-container">
    <pagination-controls
      (pageChange)="onPageChange($event)"
      previousLabel="Previous"
      nextLabel="Next">
    </pagination-controls>
  </div> -->
  
  