<footer class="footer-con">
    <div class="footer-firstSec">
        <div class="footer-firstSecSub">
            <div class="footer-firstSecSubCon">
                <div class="footer-logo">
                    <img src="assets/footer-logo.png" alt="">
                </div>
                <div class="footer-links">
                    <a [routerLink]="overviewRoute">Overview</a>   
                    <a [routerLink]="">Features</a>  
                    <a [routerLink]="">Pricing</a> 
                    <a [routerLink]="">Careers</a> 
                    <a [routerLink]="">Help</a> 
                    <a [routerLink]="">Privacy</a> 
                </div>
               

            </div>
            <div class="footer-firstSecSubConInput">
                <p class="title-inputBtn">stay upto date</p>
                <div class="input-button">
                    <div class="inputField">
                    <input type="text" placeholder="enter your email">
                    </div>
                <div class="footerBtn">
                    <button>Learn More</button>
                </div>
                </div>
            </div>
            
        </div>
        
    </div>
<div class="copywriteCon">
    <p>&copy;</p>
</div>
</footer>
