<div class="gen-container-blog">
    <div class="headline-con">
        <div class="headline-words-con">
            <p class="subHeading">Published 20 Jan 2022 • 10mins read</p>
            <p class="mainHeading">Lorem ipsum dolor sit</p>
        </div>
        <p class="paragraph-part">Lorem ipsum dolor sit amet consectetur. A nibh massa congue erat sociis tincidunt enim donec arcu. Tincidunt sit aliquam diam sit. In fames tellus aliquet nulla neque sit rutrum. Donec tortor eu amet condimentum ut donec. Pharetra vitae integer condimentum elit. Est imperdiet ut ut ornare sit sagittis ut.</p>
        
        <!-- <img src="/assets/blog-people.png" alt=""> -->
    </div>

</div>
<div class="gen-container-blog-img">
    <div class="">
        <img src="/assets/blog-people.png" alt="">
      </div>
</div>

<div class="gen-container-blog-paragraphs">
    <!-- <div> -->
    <p class="paragraph-part-one">Lorem ipsum dolor sit amet consectetur. Consequat dictum nisl molestie ornare ut. Odio leo et congue ac non tellus aliquet in. Pellentesque ipsum hac etiam odio dolor ullamcorper volutpat. A vestibulum purus amet lectus semper enim eu.</p>
    <!-- </div> -->
    <div class="paragraph-part-two">
        <p class="introduction-part">Introduction</p>
        <p class="content-part">Lorem ipsum dolor sit amet consectetur. Consequat dictum nisl molestie ornare ut. Odio leo et congue ac non tellus aliquet in. Pellentesque ipsum hac etiam odio dolor ullamcorper volutpat. A vestibulum purus amet lectus semper enim eu.</p>

           <p class="content-part"> Lorem ipsum dolor sit amet consectetur. Consequat dictum nisl molestie ornare ut. Odio leo et congue ac non tellus aliquet in. Pellentesque ipsum hac etiam odio dolor ullamcorper volutpat. A vestibulum purus amet lectus semper enim eu.</p>
    </div>

    <div class="content-part-img">
        <img src="/assets/images-people-placard.png" alt="">
    </div>

    <div class="paragraph-part-twos">
        <p class="content-parts">Lorem ipsum dolor sit amet consectetur. Consequat dictum nisl molestie ornare ut. Odio leo et congue ac non tellus aliquet in. Pellentesque ipsum hac etiam odio dolor ullamcorper volutpat. A vestibulum purus amet lectus semper enim eu.</p>
        <p class="content-parts"> Lorem ipsum dolor sit amet consectetur. Consequat dictum nisl molestie ornare ut. Odio leo et congue ac non tellus aliquet in. Pellentesque ipsum hac etiam odio dolor ullamcorper volutpat. A vestibulum purus amet lectus semper enim eu.</p>
    </div>

    <div class="paragraph-part-two">
        <p class="introduction-part">Lorem ipsum dolor sit</p>
        <p class="content-part">Lorem ipsum dolor sit amet consectetur. Consequat dictum nisl molestie ornare ut. Odio leo et congue ac non tellus aliquet in. Pellentesque ipsum hac etiam odio dolor ullamcorper volutpat. A vestibulum purus amet lectus semper enim eu.</p>
        <p class="content-part"> Lorem ipsum dolor sit amet consectetur. Consequat dictum nisl molestie ornare ut. Odio leo et congue ac non tellus aliquet in. Pellentesque ipsum hac etiam odio dolor ullamcorper volutpat. A vestibulum purus amet lectus semper enim eu.</p>
    </div>

    <div class="conclution-con">
        <div class="conclution-part">
            <p class="conclusion-heading">Conclusion</p>
            <p>Morbi sed imperdiet in ipsum, adipiscing elit dui lectus. Tellus id scelerisque est ultricies ultricies. Duis est sit sed leo nisl, blandit elit sagittis. Quisque tristique consequat quam sed. Nisl at scelerisque amet nulla purus habitasse.</p>
               <p> Nunc sed faucibus bibendum feugiat sed interdum. Ipsum egestas condimentum mi massa. In tincidunt pharetra consectetur sed duis facilisis metus. Etiam egestas in nec sed et. Quis lobortis at sit dictum eget nibh tortor commodo cursus.</p>
                <p>Odio felis sagittis, morbi feugiat tortor vitae feugiat fusce aliquet. Nam elementum urna nisi aliquet erat dolor enim. Ornare id morbi eget ipsum. Aliquam senectus neque ut id eget consectetur dictum. Donec posuere pharetra odio consequat scelerisque et, nunc tortor.</p>
               <p> Nulla adipiscing erat a erat. Condimentum lorem posuere gravida enim posuere cursus diam.</p>
        </div>
        <div class="conclusion-last-part">
            <div class="avater-con">
                <img src="/assets/blog-detail-img.png" alt="">
                <div class="avater-title">
                    <p class="avater-name">Name</p>
                    <p class="avater-descrip">Product Designer</p>
                </div>
            </div>
            <div class="social-icons">
                <button class="copy-link">
                    <img src="/assets/icon-blog-details.png" alt="">
                    <p class="copy-link-words">copy link</p>
                </button>
                <button class="tweeter-con">
                    <img src="/assets/tweeter-icon.png" alt="">
                </button>
                <button class="facebook-con">
                    <img src="" alt="">
                </button>
            </div>
        </div>
    </div>
</div>

